<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>TopActivityIndicator</key>
    <string>gray</string>
    <key>EnableLocation</key>
    <true/>
    <key>EnableAcceleration</key>
    <true/>
    <key>Plugins</key>
    <dict>
      <key>NetworkStatus</key>
      <string>CDVConnection</string>
    </dict>
    <key>ExternalHosts</key>
    <array>
      <string>statoiltransport.cloudapp.net</string>
    </array>
    
  </dict>
</plist>
