<div data-role="page" id="buslocation" data-theme="a" >    @ViewBag.Message    <div data-role="content" >        
                <a href="/Home/Bus3?location=@ViewBag.Message&service=Office"  data-inline="true" data-role="button" data-icon="arrow-r" data-theme="a">Office shuttle</a>
                <a href="/Home/Bus3?location=@ViewBag.Message&service=Hotel"   data-inline="true" data-role="button" data-icon="arrow-r" data-theme="a">Hotel shuttle</a>
                <a href="/Home/Bus3?location=@ViewBag.Message&service=Airport" data-inline="true" data-role="button" data-icon="arrow-r" data-theme="a">Airport shuttle</a>
        </div>
</div>