<div data-role="page" id="buslocation" data-theme="a" >    @ViewBag.Message    <div data-role="content" >        
        <div data-role="collapsible-set" >
        <div data-role="collapsible" data-conxtent-theme="a" >
            <h3>Office shuttle</h3>
                <p>
First departures:<br />
Bus 1 - 0830 from Forus East to Vassbotnen and return to Forus East<br />
Bus 2 - 0830 from Vestre Svanholmen to Vassbotnen and return to Vestre Svanholmen
                                <br /><br />
Last departures:<br />
Bus 1 - 1450 from Vassbotnen to Forus East<br />
Bus 2 - 1450 from Vassbotnen to Vestre Svanholmen
                <br /><br />
The buses will have a lunch break between 1100 and 1130. 
</p>
<div data-role="collapsible" data-mini="true" data-content-theme="d" >
            <h4>More info</h4>
            <p>
                Statoil offers shuttle bus services between the offices at Forus East, Vassbotnen and Vestre Svanholmen. 
                One bus drives between Forus East and Vassbotnen and the other drives between Vestre Svanholmen and Vassbotnen. 
            <br />
                Travellers between Forus East and Vestre Svanholmen need to change buses at Vassbotnen. There will be at maximum waiting time of 10 minutes at any location.
            <br />
                The offer is free for all Statoil employees and guests.
            </p>
</div>
<div data-role="collapsible" data-mini="true" data-content-theme="d" >
            <h4>News</h4>
            <p>
                Christmas 2012: No service from Friday 21 December in the evening. Resuming Wednesday 2 Jan 2013. 
            </p>
</div>
        </div>        <div data-role="collapsible" data-conxtent-theme="a">
            <h3>Hotel shuttle</h3>
                <table>
                    <tr><td></td><td>Mon-Fri</td><td> - </td><td>Tue-Thu</td></tr>
                    <tr><td>Clarion</td><td>0715, 0745, 0815</td></tr>
                    <tr><td>Radisson Blu Atlantic Hotel</td><td>0720, 0750, 0820</td><td></td><td>0720</td></tr>
                    <tr><td>Park Inn</td><td>0725, 0755, 0825</td><td></td><td>0725</td></tr>
                    <tr><td>Forus East</td><td>0745, 0815, 0835</td><td></td><td>0750</td></tr>
                    <tr><td>Vassbotnen</td><td>0750, 0820, 0840</td><td></td><td></td></tr>
                    <tr><td>Travbaneveien</td><td></td><td></td><td>0755?</td></tr>
                    <tr><td>Vestre Svanholmen</td><td></td><td></td><td>0755?</td></tr>
                    <tr><td> - </td><td></td><td></td><td></td></tr>
                    <tr><td>Forus East</td><td>1700, 1800</td><td></td><td></td></tr>
                    <tr><td>Travbaneveien</td><td>1705?, 1805?</td><td></td><td></td></tr>
                    <tr><td>Vassbotnen</td><td>1710?, 1810?</td><td></td><td></td></tr>
                    <tr><td>Vestre Svanholmen</td><td>1710?, 1810?</td><td></td><td></td></tr>
                    <tr><td>Clarion</td><td>1720?, 1820?</td><td></td><td></td></tr>
                    <tr><td>Radisson Blu Atlantic Hotel</td><td>1723?, 1823?</td><td></td><td></td></tr>
                    <tr><td>Park Inn</td><td>1725?, 1825?</td><td></td><td></td></tr>
                </table>
            <div data-role="collapsible" data-mini="true" data-content-theme="d" >
            <h5>More info</h5>
            <p>
                <b>From downtown Stavanger:</b><br />
                Free bus service all weekdays, except holidays.<br />
                The additional bus proceeds to Travbaneveien and Vestre Svanholmen. The traffic situation may cause minor delays in the timetable.
                <br />
                <b>To downtown Stavanger:</b><br />
                Forus East (entrance 1) via Travbaneveien to Vassbotnen and Vestre Svanholmen. Personnel in Forushagen and Grenseveien can use the southbound bus stop in Travbaneveien. 
                The bus will run the motorway to the hotels Clarion, Atlantic and Park Inn. The whole trip will take around 25 minutes.
                <br />
                The bus service is for employees, contractors and guests staying at a hotel in Stavanger. 
                <br /><br />
                Smarthotel offers transport from the hotel to offices in the Forus area. Check with the reception desk for departures. 
            </p>
</div>
        </div>
        <div data-role="collapsible" data-conxtent-theme="a">
            <h3>Airport shuttle</h3>
<table border="1">
<tr><td>From:</td><td>To:</td><td>Departure time</td><td>Comments</td></tr>
<tr><td>Stv airport</td><td>ST-VS / FV / VB / FO / TV</td><td>0740</td><td>outside the arrival hall</td></tr>
<tr><td>Stv airport</td><td>ST-VS / FV / VB / FO / TV</td><td>0755	</td><td>outside the arrival hall</td></tr>
<tr><td>Stv airport</td><td>ST-VS / FV / VB / FO / TV</td><td>0815	</td><td>outside the arrival hall</td></tr>
<tr><td>Stv airport</td><td>ST-VS / FV / VB / FO / TV</td><td>0825	</td><td>outside the arrival hall</td></tr>
<tr><td>Stv airport</td><td>ST-VS / FV / VB / FO / TV</td><td>0845	</td><td>outside the arrival hall</td></tr>
<tr><td>Stv airport</td><td>ST-VS / FV / VB / FO / TV</td><td>0910	</td><td>outside the arrival hall</td></tr>
<tr><td>Stv airport</td><td>ST-VS / FV / VB / FO / TV</td><td>0930	</td><td>outside the arrival hall</td></tr>
<tr><td colspan="4"></td></tr>
<tr><td>ST-FO / VB / FV / VS</td><td>Stv airport</td><td>1400 / 1405 / 1405 / 1409	</td></tr>
<tr><td>ST-FO / VB / FV / VS</td><td>Stv airport</td><td>1430 / 1435 / 1435 / 1439	 </td></tr>
<tr><td>ST-FO / VB / FV / VS</td><td>Stv airport</td><td>1500 / 1505 / 1505 / 1509	</td></tr>
<tr><td>ST-FO / VB / FV / VS</td><td>Stv airport</td><td>1530 / 1535 / 1535 / 1539	</td></tr>
<tr><td>ST-FO / VB / FV / VS</td><td>Stv airport</td><td>1600 / 1605 / 1605 / 1609	</td></tr>
<tr><td>ST-FO / VB / FV / VS</td><td>Stv Airport</td><td>1630 / 1635 / 1635 / 1639	</td></tr>
</table>	


<div data-role="collapsible" data-mini="true" data-content-theme="d" >
            <h5>More info</h5>
            <p>
                From the airport to Forus East: Departure behind the ordinary airport bus outside the arrival hall. The bus takes around 20 minutes and runs via Vestre Svanholmen and Vassbotnen to Forus East and Travbaneveien.
                <br />
                From Forus East to the airport: Departure outside the main reception. The bus takes around 20 minutes and runs via Forus West new bus stop and Vestre Svanholmen to the airport. 
            </p>
</div>
        </div>        </div>
        </div>
</div>