@{
    ViewBag.Title = "Bus";
}
<div data-role="page" id="bus" data-theme="a" >
    <div data-role="header" style="text-align: center;">
        <img style="vertical-align: top;" src="~/Images/bus_276x154version2.png" alt="bus@Statoil" />
    </div>
    <div data-role="content" style="text-align: center;">
        
        Statoil's bus arrangements in Norway, on airports, hotels and office buildings.
        <hr />
        <ul data-role="listview" data-inset="true">
        <li><a href="/Home/BusLocation?location=Stavanger" data-mini="true" data-theme="a">Stavanger area</a></li>
        <li><a href="/Home/BusLocation?location=Trondheim" data-theme="a">Trondheim area</a></li>
        <li><a href="/Home/BusLocation?location=Bergen" data-theme="a">Bergen area</a></li>
        <li><a href="/Home/BusLocation?location=Oslo" data-theme="a">Oslo area</a></li>
        <li><a href="/Home/BusLocation?location=HarstadEvenes" data-theme="a">Harstad/Evenes area</a></li>
        <li><a href="/Home/News" data-theme="a">News</a></li>
        <li><a href="/Home/About" data-theme="a">About</a></li>
         </ul>
    </div>
</div>