@{
    ViewBag.Title = "Tests Index";
}
<div data-role="page" id="offices" data-theme="a" >        <div data-role="navbar" >            <ul>                <li>@Html.ActionLink("Geo tests", "Geotests", "Tests")</li>            </ul>        </div>

<div data-role="content" style="text-align: center;">
    Some tests only
</div>
    @Html.Partial("_Footer")
</div>